
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(-45deg, #0a0218, #0e0322,#13042f, #0a0218, #231140);
    background-size: 400% 400%;
    animation: bgAnim 12s ease infinite;
    overflow-x: hidden;
    color: white;
}

@keyframes bgAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.giris-kapsayici {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

}

.app-container {
    min-height: 100vh;
    background: linear-gradient(-45deg, #0a0218, #0e0322,#13042f, #0a0218, #231140);
    background-size: 400% 400%;
    animation: bgAnim 12s ease infinite;
    color: white;
}
.intro-yazi {
    text-align: center;
    z-index: 2;
    transition: transform 1s ease, opacity 1s ease;
}

.hosgeldin-foto {
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;       /* Genişlik sınırı */
    max-width: 80vw;    /* Ekranın %80’inden büyük olmasın */
    max-height: 300px;  /* Yükseklik sınırı */
    height: auto;
    object-fit: contain; /* Oranları korusun */
    transition: transform 1s ease, opacity 1s ease;
}
.giris-kapsayici.intro-bitti .intro-yazi,
.giris-kapsayici.intro-bitti .hosgeldin-foto {
    transform: translateX(-50vw);
    opacity: 0;
}

.sol-panel {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #0a0218;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.giris-kapsayici.intro-bitti .sol-panel {
    transform: translateX(0);
}

.profil-resmi {
    width: 200px;
    height: 200px;

    object-fit: cover;

    margin-top: -50px;
}

.isim {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.meslek {
    font-size: 16px;
    color: #bbb;
}
